<div class="row">
    <div class="col-6">
        <h3>Not Yet Eaten</h3>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">burger_id</th>
                    <th scope="col">burger_name</th>
                    <th scope="col">devour</th>
                </tr>
            </thead>
            <tbody>
                <!-- insert rows here -->
                <tr>
                    <th scope="row">1</th>
                    <td>Big Mac</td>
                    <td><a name="devour" id="1" class="btn btn-warning" role="button">Devour</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3>Devoured</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">burger_id</th>
                    <th scope="col">burger_name</th>
                </tr>
            </thead>
            <tbody>
                <!-- insert rows here -->
                <tr>
                    <th scope="row">1</th>
                    <td>Big Mac</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>